body{
  font-family: sans-serif;
  font-size:110%;
  background-color: bisque;
}

header {
  background-color: chocolate;
  text-align: center;
}

footer {
  background-color: #343330;
  text-align: center;
  color: white;
}
