
body{
  font-family: sans-serif;
  font-size:110%;
  background-color: bisque;
}

header {

  background-color: chocolate;
  text-align: center;
  font-size: larger;
  
}

#title{

  font-size: 150%;
}

#introduction{

  font-size: 120%;
}

#sidebar{
 background-color: #343330;

}

footer {
  background-color: #343330;
  text-align: center;
  color: white;
}
